<!-- Sidebar -->
 <div class="sidebar" [class.close]="isSidebarClosed">
    <a  routerLink="dashboard" class="logo">
        <i class='bx bxs-buildings'></i>        
        <div class="logo-name"><span>ok</span>Builder</div>
    </a>
    <ul class="side-menu">
        <li class="mb-4"><a class="text-sm add-org-btn"><i class='bx bx-plus'></i>Add new Organization</a></li>

        <li routerLinkActive="active" ><a 
            routerLink="dashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a  routerLink="organization"><i class='bx bx-server'></i>Organization</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="user"><i class='bx bxs-user-detail'></i>Users</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a  routerLink="alert"><i class='bx bx-message-square-dots'></i>Alert</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a  routerLink="payment"><i class='bx bxs-bank'></i>Payment</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a  routerLink="report"><i class='bx bxs-report' ></i>Report</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a  routerLink="setting"><i class='bx bxs-cog'></i>Settings</a></li>
    </ul>
    <ul class="side-menu">
        <li>
            <a  routerLink="login" class="logout">
                <i class='bx bx-log-out-circle'></i>
                Logout
            </a>
        </li>
    </ul>
</div>
<!-- End of Sidebar -->
