<div class="bg-primary-100  min-h-screen w-4rem sidebar-left">
    <div class="grid">
        <div class="col-12 pt-5 flex justify-content-center">
            <a routerLink="dashboard">
            <i class="pi pi-chart-line" style="font-size: 1.5rem"></i>
            </a>
        </div>
        <div class="col-12 pt-5 flex justify-content-center">
            <a routerLink="organization">
                <i class="pi pi-building" style="font-size: 1.5rem"></i>
            </a>
        </div>
        <div class="col-12 pt-5 flex justify-content-center">
            <a routerLink="user">
                <i class="pi pi-users" style="font-size: 1.5rem"></i>
            </a>
        </div>
        <div class="col-12 pt-5 flex justify-content-center">
            <a routerLink="alert">
                <i class="pi pi-megaphone" style="font-size: 1.5rem"></i>
            </a>
        </div>
        <div class="col-12 pt-5 flex justify-content-center">
            <a routerLink="payment">
                <i class="pi pi-indian-rupee" style="font-size: 1.5rem"></i>
            </a>
        </div>
        <div class="col-12 pt-5 flex justify-content-center">
            <a routerLink="report">
                <i class="pi pi-file-pdf" style="font-size: 1.5rem"></i>
            </a>
        </div>
        <div class="col-12 pt-5 flex justify-content-center">
            <a routerLink="setting">
                <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
            </a>
        </div>
    </div>
</div>
<!-- <p-sidebar [(visible)]="sidebarVisible" styleClass="w-10rem">
    <h3>Sidebar</h3>
    <p>
        Lorem ipsum dolor sit amet...
    </p>
</p-sidebar> -->
