<p-menubar styleClass="bg-white border-noround hidden lg:block m-2">
    <ng-template pTemplate="start">
        <div  class="flex align-items-center ml-2">
            <a routerLink="setting">
                <i class="pi pi-cog" style="font-size: 1.5rem"></i>
            </a>
            <div class="ml-4">
            <p-button styleClass="h-1rem p-3 m-1" rounded="true" label="Dashborad" size="small" [raised]="true" severity="secondary"></p-button>
            <p-button styleClass="h-1rem p-3 m-1" rounded="true" label="Organization" size="small" [raised]="true" severity="secondary"></p-button>
            </div>
        </div>
    </ng-template>
</p-menubar>

