<p-breadcrumb 
    class="max-w-full" 
    [model]="items" 
     />

<p-card styleClass="mt-1">
    <p-table 
    [value]="products" 
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Reviews</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns">
            <tr>
                <td>
                    <span class="p-column-title">Name</span>{{product.name}}
                </td>
                <td>
                    <span class="p-column-title">Price</span>{{product.price | currency:'USD'}}
                </td>
                <td>
                    <span class="p-column-title">Category</span>{{product.category}}
                </td>
                <td>
                    <span class="p-column-title">Quantity</span>{{product.quantity}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>