<!-- Navbar -->
<nav>
    <a href="javascript:void(0);" class="p-2 ml-1" (click)="toggleSidebar()">
        <i class="pi pi-align-justify"></i>
    </a>
    <form action="#" >
        <div class="form-input" *ngIf="isSearchFormVisible">
            <input type="search" placeholder="Search organization id or name">
            <button class="search-btn" ><i class='bx bx-search'></i></button>
        </div>
    </form>
    <div class="btn-container">
        <!-- <i class="pi pi-sun hidden lg:block" aria-hidden="true"></i> -->
          <label class="switch btn-color-mode-switch">
                <input type="checkbox" name="color_mode" [checked]="isDarkMode" id="color_mode" value="1" (click)="onThemeToggle($event)">
                <label for="color_mode" data-on="Dark" data-off="Light" class="btn-color-mode-switch-inner"></label>
            </label>
          <!-- <i class="pi pi-moon hidden lg:block" aria-hidden="true"></i> -->
    </div>

      
    <!-- <input type="checkbox" [checked]="isDarkMode" id="theme-toggle" hidden (click)="onThemeToggle($event)">
    <label for="theme-toggle" class="theme-toggle"></label> -->

    <a href="#" class="notif">
        <i class='pi pi-bell'></i>
        <span class="count">12</span>
    </a>

   <!-- <a href="#" class="profile">
        <img src="images/logo.png">
    </a> -->
</nav>

